# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
bin/
obj/

# NuGet files
*.nupkg
*.snupkg
packages/

# Test files
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# User-specific files
*.userprefs

# Project files
*.csproj.user
*.vcxproj.user

# Temporary files
*.tmp
*.log
*.cache
*.vs/